{% extends 'e_logs/main.html' %}

{% block content %}

<div id="room" data-tab-content class="active">
    <h4>RENEWAL SCHEDULE</h4>
    <hr>
    <br>
    <div class="asset-content">
        <div class="add-asset-container">
            <div class="asset-tabs">
                <div class="all-asset active" data-link-tab="#all">
                    <p>All</p>
                </div>
                <div class="all-warning" data-link-tab="#warnings">
                    <p>Warnings</p>
                    <p>{{warnings | length}}</p>
                </div>
            </div>
            <a href="{% url 'create-asset' %}">+ Add New Asset</a>
        </div>

        <div class="asset-container active"  data-link-content id="all">
        
            <!-- TABLE -->
            <div class="asset-table">
                <table>
                    <thead>
                        <tr>
                            <th>Asset</th>
                            <th>Supplier</th>
                            <th>Purchase Date</th>
                            <th>Expiration Date</th>
                            <!-- <th>Description</th> -->
                            <th>Status</th>
                            <th colspan="4">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for asset in assets %}
                        <tr>
                            <td><a href="{% url 'asset-details' asset.id %}">{{asset.name}}</a></td>
                            <td>{{asset.supplier}}</td>
                            <td>{{asset.purchase_date}}</td>
                            <td>{{asset.expiration}}</td>
                            <!-- <td>{{asset.description}}</td> -->
                            {% if asset.status == 'initial' %}
                                <td>
                                    <div class="isThree status">
                                        <!-- <i class='bx bxs-bell'></i> -->
                                        LAST 3 M
                                    </div>
                                </td>
                            {% elif asset.status == 'fresh' %}
                                <td>
                                    <div class="isFresh status">
                                        <!-- <i class='bx bxs-bell'></i> -->
                                        FRESH
                                    </div>
                                </td>
                            {% elif asset.status == 'warning' %}
                                <td>
                                    <div class="isTwo status">
                                        <!-- <i class='bx bxs-bell'></i> -->
                                        LAST 2 M
                                    </div>
                                </td>
                            {% elif asset.status == 'danger' %}
                                <td>
                                    <div class="isOne status">
                                        <!-- <i class='bx bxs-bell'></i> -->
                                        LAST 1 M
                                    </div>
                                </td>
                            {% endif %}

                            <td>
                                <a href="{% url 'update-asset' asset.id %}" class="action edit"><i class='bx bxs-edit' style="margin-right: 5px;"></i> Edit</a>
                            </td>
                            <td>    
                                <a href="{% url 'delete-asset' asset.id %}" class="action delete"><i class='bx bxs-trash' style="margin-right: 5px;"></i> Delete</a>
                            </td>
                            <td>
                                <button class="asset-done" onclick="markAsDone('{{asset.id}}')">Done</button>
                            </td>
                            <td>
                                <a href="{% url 'asset-remark' asset.id %}">Done</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="warning-container" data-link-content id="warnings">
            <div class="warning-table">
                <table>
                    <thead>
                        <tr>
                            <th>Asset</th>
                            <th>Supplier</th>
                            <th>Purchase Date</th>
                            <th>Expiration Date</th>
                            <!-- <th>Description</th> -->
                            <th>Status</th>
                            <th colspan="3">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for asset in warnings %}
                        <tr>
                            <td><a href="{% url 'asset-details' asset.id %}">{{asset.name}}</a></td>
                            <td>{{asset.supplier}}</td>
                            <td>{{asset.purchase_date}}</td>
                            <td>{{asset.expiration}}</td>
                            <!-- <td>{{asset.description}}</td> -->
                            {% if asset.status == 'initial' %}
                                <td>
                                    <div class="isThree status">
                                        <!-- <i class='bx bxs-bell'></i> -->
                                        LAST 3 M
                                    </div>
                                </td>
                            {% elif asset.status == 'fresh' %}
                                <td>
                                    <div class="isFresh status">
                                        <!-- <i class='bx bxs-bell'></i> -->
                                        FRESH
                                    </div>
                                </td>
                            {% elif asset.status == 'warning' %}
                                <td>
                                    <div class="isTwo status">
                                        <!-- <i class='bx bxs-bell'></i> -->
                                        LAST 2 M
                                    </div>
                                </td>
                            {% elif asset.status == 'danger' %}
                                <td>
                                    <div class="isOne status">
                                        <!-- <i class='bx bxs-bell'></i> -->
                                        LAST 1 M
                                    </div>
                                </td>
                            {% endif %}

                            <td>
                                <a href="{% url 'update-asset' asset.id %}" class="action edit"><i class='bx bxs-edit' style="margin-right: 5px;"></i> Edit</a>
                            </td>
                            <td>    
                                <a href="{% url 'delete-asset' asset.id %}" class="action delete"><i class='bx bxs-trash' style="margin-right: 5px;"></i> Delete</a>
                            </td>
                            <td>
                                <button class="asset-done">Done</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="asset-dialog-container">
        
            <form action="" class="asset-dialog-box">
                {% csrf_token %}
                <div class="exit"><i class='bx bxs-x-square' id="close"></i></div>
                <label for="remark">Remarks:</label>
                <input type="text" name="remark">
                <div class="action">
                    <button type="submit">Save</button>
                </div>
            </form>
        
    </div>
</div>

<style>

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        padding: 3px 7px;
        font-weight: 500;
        border-radius: 3px;
        transition: all 0.2s ease;
    }

    .edit {
        background-color: rgb(13, 96, 132);
    }

    .delete {
        background-color: rgb(166, 31, 31);
    }

    .delete:hover {
        background-color: rgb(126, 18, 18);
    }

    .edit:hover {
        background-color: rgb(10, 59, 132);
    }

    .asset-content {
        position: relative;
        width: 100%;
        height: auto;
    }
    .asset-container, .warning-container {
        position: relative;
        width: 100%;
        overflow: scroll;
        transition: all 0.2s ease-out;

    }

    .alert-container {
        width: 34%;
    }

    .status {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        padding: 3px;
        font-weight: 500;
        border-radius: 3px;
    }

    .isOne {
        background-color: rgb(161, 25, 25);
    }

    .isFresh {
        background-color: rgb(19, 128, 28);
    }

    .isTwo {
        background-color: rgb(215, 84, 13);
    }

    .isThree {
        background-color: rgb(191, 206, 27);
    }

    .status i{
        margin-right: 0.5rem;
    }


    .asset-table , .warning-table{
        position: relative;
    }

    .add-asset-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    .add-asset-container a {
        padding: 0.4rem 1rem;
        background-color: rgb(19, 18, 18);
        color: white;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        border-radius: 3px;
        cursor: pointer;
        font-weight: 500;
        font-size: 0.9rem;
        max-height: fit-content;
    }

    .asset-tabs {
        display: flex;
    }

    .all-asset {
        padding: 5px 15px;
        cursor: pointer;
        transition: all 0.1s ease-out;
    }

    .all-warning {
        display: flex;
        padding: 5px 15px;
        gap: 0.8rem;
        cursor: pointer;
        transition: all 0.1s ease-out;

    }

    .all-warning:hover, .all-asset:hover {
        border-bottom: 3px solid rgb(49, 49, 49);
        font-weight: 500;
    }


    .all-warning p:last-of-type {
        display: flex;
        align-items: center;justify-content: center;
        background-color: rgb(49, 49, 49);
        padding: 0 10px;
        font-size: 0.7rem;
        line-height: 0.8rem;
        color: #FFFFFF;
        border-radius: 10px;
    }

    [data-link-content] {
        display: none;
    }

    .active[data-link-content] {
        display: block;
    }

    .active[data-link-tab] {
        border-bottom: 3px solid rgb(49, 49, 49);
    }

    .active[data-link-tab] p {
        font-weight: 500;
    }

    .asset-done {
        display: flex;
        font-family: 'Poppins';
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        padding: 3px 10px;
        font-weight: 500;
        border-radius: 3px;
        border: none;
        outline: none;
        background-color: rgb(28, 132, 40);
        cursor: pointer;
    }
    

    .asset-dialog-container.active {
        display: flex;
        align-items: flex-start; justify-content: center;
        padding-top: 100px;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
    }

    .asset-dialog-box {
        display: none;
    }


    .asset-dialog-box.active {
        display: flex;
        flex-direction: column;
        min-width: 40%;
        width: auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
        padding: 1rem;

    }

    .asset-dialog-box .action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
    }

    .asset-dialog-box label {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .asset-dialog-box input {
        padding: 3px 15px;
        font-family: 'Poppins';
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .asset-dialog-box .action button {
        display: flex;
        font-family: 'Poppins';
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        padding: 3px 10px;
        font-weight: 500;
        border-radius: 3px;
        border: none;
        outline: none;
        background-color: rgb(28, 132, 40);
        cursor: pointer;
    }

    .exit {
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }

    .exit i {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.4rem;
        cursor: pointer;
    }


    





</style>


<script>

    // PAGE NAVIGATION 

    const assetTabs = document.querySelectorAll('[data-link-tab]')
    const assetTabContents = document.querySelectorAll('[data-link-content]')

    assetTabs.forEach(tab => {
        tab.addEventListener('click', () => {
            const target = document.querySelector(tab.dataset.linkTab)

            assetTabContents.forEach(tabContent => {
                tabContent.classList.remove('active')
            })

            assetTabs.forEach(tab => {
                tab.classList.remove('active')
            })

            tab.classList.add('active')
            target.classList.add('active')
        })
    })

    // Done

    const assetContainer = document.querySelector('.asset-dialog-container')
    const dialogBox = document.querySelector('.asset-dialog-box')
    

    const markAsDone = (id) => {
        
        const remarkForm = document.getElementById('remark-form')
        assetContainer.classList.add('active')
        dialogBox.classList.add('active')
        console.log(id)

       
        const asset_id = document.createElement('input')
        asset_id.setAttribute('name', 'id')
        asset_id.value = id

        remarkForm.append(asset_id)
    
    }


    document.getElementById('close').addEventListener('click', () => {
        assetContainer.classList.remove('active')
        dialogBox.classList.remove('active')
    })

</script>

{% endblock content %}
