{% extends 'e_logs/main.html' %}

{% block content %}

<div id="room" data-tab-content class="active">

    <h4>ROOM</h4>
    <hr>
    <br>

    {% if messages %}
        {% for message in messages %}
    <div class="message"><i class='bx bx-error' ></i> <p>{{message}}</p></div>
        {% endfor%}
    {% endif%}

    <div class="room-form">
        <div class="form-header">
            <p>Room Service Report</p>
        </div>
        <form action="" method="POST" class="room-form-container" id="room-form">
            {% csrf_token %}
            <div class="row">
                <div class="client-info">
                    <p class="client-info-title">
                        Client Information
                    </p>
                    <div class="client-info-group">
                        <label for="tower">
                            Tower
                        </label>
                        <select name="tower" required>
                            <option disable hidden selected value="">Select location</option>
                            <option value="TBM MW">TBM MW</option>
                            <option value="TBM TW">TBM TW</option>
                            <option value="BHOTEL">BHOTEL</option>
                        </select>
                    </div>
                    
                    <div class="client-info-group">
                        <label for="room">
                            Room
                        </label>
                        <input type="number" name="room" placeholder="#" required>
                    </div>
                </div>
                <div class="author-info">
                    <label for="system">Affected System:</label>
                    <select name="system" id="system" required>
                        <option disable hidden selected value="">Select system</option>
                        <option value="Internet">Internet</option>
                        <option value="Cable">Cable</option>
                        <option value="TV/DVD Player">TV/DVD Player</option>
                        <option value="Telephone">Telephone</option>
                        <option value="Vingcard">Vingcard</option>
                    </select>
                    <label for="attendee">Attended by:</label>
                    <select name="attendee" id="system" required>
                        <option disable hidden selected value="">Select name</option>
                        <option value="Jeff">Jeff</option>
                        <option value="Mark">Mark</option>
                        <option value="Fernand">Fernand</option>
                        <option value="Roy">Roy</option>
                    </select>
                </div>
                <div class="time-info">
                    <label for="time_reported">Time Reported:</label>
                    <input type="time" name="time_reported" id="time_reported" required>
                    <label for="attendee">Time Resolved:</label>
                    <input type="time" name="time_resolved" id="time_resolved" required>
                </div>
            </div>
            <div class="row">
                <div class="problem">
                    <label for="problem">Problem:</label>
                    <textarea name="problem" rows="2" placeholder="Type something..." required></textarea>
                </div>
                <div class="status">
                    <label for="status">Status:</label>
                    <textarea name="status" rows="2" placeholder="Type something..." required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="action">
                    <label for="action">Action:</label>
                    <textarea name="action" rows="2" placeholder="Type something..." required></textarea>
                </div>
                <div class="recommendation">
                    <label for="recommendation">Recommendation:</label>
                    <textarea name="recommendation" rows="2" placeholder="Type something..." required></textarea>
                </div>
            </div>
            <div class="bottom-row">
                <button type="submit" name="save_room">Save Report</button>
            </div>

        </form>

    </div>
</div>

<style>

.room-form-container {
    background-color: #FFFFFF;
    margin-top: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}

/* FIRST ROW */

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.row .client-info {
    width: 40%;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: rgba(171, 166, 166, 0.3);
}

.client-info-title {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

.client-info-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem 0;
}

.client-info-group label, .author-info label, .time-info label {
    font-size: 0.8rem;
    font-weight: 500;
}

.client-info-group input, .client-info-group select{
    height: 2rem;
    width: 70%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    background-color: #cac5c5;
    border: none;
    outline: none;

}

.author-info select, .time-info input {
    height: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    width: 100%;
    padding: 0.3rem 0.5rem;
    background-color: #cac5c5;
    border: none;
    outline: none;
    border-radius: 3px;
}


.author-info, .time-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem;
}

.author-info {
    width: 45%;
}

.time-info {
    width: 20%;
}

/* SECOND ROW */

.problem, .status, .action, .recommendation {
    display: flex;
    flex-direction: column;
}

.problem label, .status label, .action label, .recommendation label {
    font-size: 0.8rem;
    font-weight: 500;
}

.problem textarea, .status textarea, .action textarea, .recommendation textarea {
    font-size: 0.8rem;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.problem { 
    width: 48%;
}

.status {
    width: 48%;
}

.action {
    width: 48%;

}
.recommendation {
    width: 48%;
}

.bottom-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.bottom-row button {
    border: none; 
    outline: none;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.2rem;
    padding: 0.5rem 0.9rem;
    background-color: var(--green);
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
.bottom-row button:hover {
    scale: 0.95;
    background-color: var(--dark-green);
}

.active-room {
    background-color: #201F1F;
}

.message {
    position: absolute;
    padding: 10px 20px;
    width: 25%;
    border: 0.5px solid rgb(137, 16, 16);
    background-color: rgb(234, 108, 108);
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 10px;
    transform: translateX(-25%);
}

.message p {
    color: rgb(137, 16, 16);
    margin-left: 3px;
}

.message i {
    color: rgb(137, 16, 16);
    font-size: 1.2rem;
}



</style>


{% endblock content %}