{% extends 'e_logs/main.html' %}

{% block content %}

<div id="utilities" data-tab-content class="active">

    <h4>MIS UTILITIES</h4>
    <hr>
    <br>

    <div class="bulletin-form">
        <div class="form-header">
            <p>Bulletin Editor</p>
        </div>
        <form action="" method="POST" class="bulletin-form-container" >
            {% csrf_token %}
            <div class="bulletin-form-top">
                <div class="form-group">
                    <label for="author">
                        Reported by:
                    </label>
                    <select name="author" required>
                        <option disable hidden selected value="">Select name</option>
                        <option value="Jeff">Jeff</option>
                        <option value="Mark">Mark</option>
                        <option value="Fernand">Fernand</option>
                        <option value="Roy">Roy</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="priority">
                        Priority:
                    </label>
                    <select name="priority" required>
                        <option disable hidden selected value="">Select type</option>
                        <option value="High Importance">High Importance</option>
                        <option value="For Your Info">For Your Info</option>
                        <option value="For Follow-up">For Follow-up</option>
                        <option value="For Feedback">For Feedback</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="details">
                    Details:
                </label>
                <textarea rows="1" placeholder="Enter bulletin details..." name="details" id="details-input" required></textarea>
            </div>
            <div class="bulletin-btn">
                <button type="submit" name="bulletin-form" class="post-bulletin">POST BULLETIN</button>
            </div>
        </form>
    </div>

    <!-- <div class="pending-task-container">

    </div> -->
</div>

<style>
    /* UTILITTIES STYLES */

.bulletin-form-container {
    background-color: #FFFFFF;
    margin-top: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}
 
.bulletin-form-top {
    display: flex;
    margin-bottom: 1.5rem;
}

.bulletin-form, .room-form {
    width: 100%;
}

.bulletin-form label {
    font-weight: 500;
    font-size: 0.9rem;
}

.bulletin-btn {
    display: flex;
    justify-content: flex-end;
}


.bulletin-form-top .form-group:first-of-type {
    margin-right: 10rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

select {
    width: 15rem;
}

#details-input, select, input {
    padding: 0.4rem 1rem;
    font-family: 'Poppins', sans-serif;
}

.post-bulletin {
    border: none;
    outline: none;
    background-color: var(--green);
    padding: 0.5rem 1rem;
    color: var(--white);
    border-radius: 0.2rem;
    font-weight: 600;
    float: right;
    margin-top: 1rem;
    font-family: 'Poppins';
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.post-bulletin:hover {
    scale: 0.95;
    background-color: var(--dark-green);
}

</style>


{% endblock content%}
