{% extends 'e_logs/main.html' %}

{% block content %}

<div id="utilities" data-tab-content class="active">

    <h4>{{name}}</h4>
    <hr>
    <br>

    <div class="versions-container">
        <div class="version-content">
            {% for version in versions%}
            <div class="version-box">
                <div class="version-label">
                    <i class='bx bxs-no-entry' ></i>
                    <p>{{version.action}} on <b>{{version.modified_date}}</b> _ 
                        <span style="font-size: 0.8rem;"> {{version.modified_time}}</span>  by
                        <b>
                            <span style="font-size: 0.9rem;">{{version.author}}</span>
                        </b>
                    </p>
                </div>

                <div class="version-record">
                    <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Asset</th>
                                <th>Description</th>
                                <th>Supplier</th>
                                <th>Purchase Date</th>
                                <th>Expiration Date</th>
                                <th>Schedule</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{version.name}}</td>
                                <td>{{version.description}}</td>
                                <td>{{version.supplier}}</td>
                                <td>{{version.purchase_date}}</td>
                                <td>{{version.expiration}}</td>
                                <td>{{version.schedule}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

<style>

    .versions-container {
        width: 100%;
        /* height: 300px;
        overflow: auto; */
        
    }

    .version-content {
        width: calc(100% - 20px)
       
    }

    .version-box {
        position: relative;
        width: 100%;
        border-left: 3px solid rgb(154, 146, 146);
        margin: 26px 0;
        margin-left: 20px;
        padding: 20px;
    }

    .version-label {
        display: flex;
        align-items: center;
        position: absolute;
        top: -23px;
        left: -10px;
    }

    .version-label i {
        font-size: 1.2rem;
        color: rgb(154, 146, 146);
    }

    .version-label p {
        font-size: 0.9rem;
        margin-left: 1rem;
    }

    .version-record {
        width: 100%;
        height: 100%;
    }
    
</style>

{% endblock content%}
